@import "node_modules/uikit/src/less/uikit.theme.less";

@pastoral-care: #6c2085;
@training: #499bc9;
@affections: #cf232b;
@mission: #578726;
@membership: #ff5f5e;
@operations: #e2b801;

h1,h2,h3,h4{
  font-family: 'Times New Roman', serif;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.nav-title(@colour) {
  color: @colour;
  @media (max-width: @breakpoint-large) {
    .uk-heading-primary;
  }
}

em {
  .uk-text-bold
}

#operations-nav h4 {
  .nav-title(@operations);
}

#membership-nav h4 {
  .nav-title(@membership);
}

#mission-nav h4 {
  .nav-title(@mission);
}

#pastoral-care-nav h4 {
  .nav-title(@pastoral-care);
}

#training-nav h4 {
  .nav-title(@training);
}

#affections-nav h4 {
.nav-title(@affections);
}


.details(@colour) {

  div {
    .uk-light;
    color: black;
  }
  background-color: @colour;

  h1 a {
    .uk-align-right;
  }

  .uk-section-large;


}

#operations {
  .details(@operations);
}

#membership {
  .details(@membership);
}

#mission {
  .details(@mission);
}

#pastoral-care {
  .details(lighten(@pastoral-care, 10%));
}

#training {
  .details(@training);
}

#affections {
  .details(@affections);
}
